# Kotlin
.kotlin/

# Gradle
.gradle

# IDE
*.iml
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/.name
/.idea/deploymentTargetSelector.xml
/.idea/deviceManager.xml
/.idea/inspectionProfiles/
/.idea/codeStyles/
.idea
.DS_Store

# 构建
/build
*/build
/captures
.externalNativeBuild
.cxx
/local.properties

# 构建产物
/apk-output/
*.apk
*.aab

# Docker
docker-compose.override.yml

# 签名文件
#*.jks
#*.keystore

# 系统文件
*.swp
*.swo
*~
